!!!
%html{ng: {app: 'app'}}
  %head
    - if @title_for_layout
      %title #{@title_for_layout} | Angular Resume Builder
    - else
      %title{ng: {bind_template: '{{ pageTitle }} | Angular Resume Builder'}}
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
  %body
    = render partial: 'shared/header'
    %main.container
      = yield
    = javascript_include_tag "application"
