!!!
%html{ng: {app: 'app'}}
  %head
    %title AngularResumeBuilder
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
  %body
    = render partial: 'shared/header'
    .container
      = yield
    = javascript_include_tag "application"
